<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="OraConnNative" connectionString="Provider=OraOLEDB.Oracle.1;Password=gomac_base_oms_dev;Persist Security Info=True;User ID=GOMAC_BASE_OMS;Data Source=dev.eugomac.world" />
    <add name="NativeEntities" connectionString="metadata=res://*/GomacOrder.csdl|res://*/GomacOrder.ssdl|res://*/GomacOrder.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=dev.eugomac.world;PASSWORD=gomac_base_oms_dev;PERSIST SECURITY INFO=True;USER ID=GOMAC_BASE_OMS&quot;" providerName="System.Data.EntityClient" />
    <add name="OraConnGI" connectionString="Provider=OraOLEDB.Oracle.1;Password=webeeUK_etl;Persist Security Info=True;User ID=webeeUK_etl;Data Source=dev.eu.lx.webe.world" />
  </connectionStrings>
</configuration>